﻿@model KolmasVeeb.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TitleOfCourtesy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TitleOfCourtesy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HireDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HireDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Region)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Region)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Country)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Country)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HomePhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HomePhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Extension)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Extension)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Manager.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manager.LastName)
                </dd>

            </dl>
        </div>
        <div class="col-lg-6">
            <p>@Model.FullName - photo</p>
            <img src="@Url.Action("Picture", "Employees", new { id = Model.EmployeeID })" />

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
