﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Kirjutame mida iganes</p>
<br/>
<p>Query: @Request.QueryString</p>
<p>Name: @Request.Params["Name"]</p>

<p>Täna on: @DateTime.Today.ToShortDateString()</p>
<br/>

<p>Meile anti sellised arvud</p>
@foreach(int i in ViewBag.arvud)
            {
                
                <ul>
                    <li>@i</li>
                </ul>
            }


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>