﻿@model IEnumerable<KolmasVeeb.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />


<div class="row">
    @if (ViewBag.size > 0)
    {
        <div class="col-lg-1">
            <form method="post" action="@Url.Action("Index", "Products")">
                <input type="hidden" name="id" value="@ViewBag.id" />
                <input type="hidden" name="size" value="@ViewBag.size" />
                <input type="hidden" name="page" value="@((ViewBag.page) == 0 ? 0 : ViewBag.page - 1)" />
                <input type="hidden" name="sort" value="@ViewBag.sort" />
                <input type="hidden" name="direction" value="@ViewBag.direction" />
                <input type="submit" value="<" class="btn btn-default" />
            </form>
        </div>
        <div class="col-lg-1">
            <form method="post" action="@Url.Action("Index", "Products")">
                <input type="hidden" name="id" value="@ViewBag.id" />
                <input type="hidden" name="size" value="0" />
                <input type="hidden" name="page" value="0" />
                <input type="hidden" name="sort" value="@ViewBag.sort" />
                <input type="hidden" name="direction" value="@ViewBag.direction" />
                <input type="submit" value="kõik" class="btn btn-default" />
            </form>
        </div>
        <div class="col-lg-1">

            <form method="post" action="@Url.Action("Index", "Products")">
                <input type="hidden" name="id" value="@ViewBag.id" />
                <input type="hidden" name="size" value="@ViewBag.size" />
                <input type="hidden" name="page" value="@(ViewBag.page + 1)" />
                <input type="hidden" name="sort" value="@ViewBag.sort" />
                <input type="hidden" name="direction" value="@ViewBag.direction" />
                <input type="submit" value=">" class="btn btn-default" />
            </form>

        </div>
    }
    else
    {
        <div class="col-lg-3">
            <form method="post" action="@Url.Action("Index", "Products")">
                <input type="hidden" name="id" value="@ViewBag.id" />
                <input type="hidden" name="size" value="10" />
                <input type="hidden" name="page" value="0" />
                <input type="hidden" name="sort" value="@ViewBag.sort" />
                <input type="hidden" name="direction" value="@ViewBag.direction" />
                <input type="submit" value="10 kaupa" class="btn btn-default" />
            </form>
        </div>
    }
</div>


<br />
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            @*@Html.ActionLink(
                "ProductName",
                "Index", new
                     {
                         id = ViewBag.id,
                         sort = "name",
                         direction =
                (ViewBag.sort == "name" && ViewBag.direction == "asc") ? "desc" : "asc"
                })*@
            <form method="post" action="@Url.Action("Index", "Products")">
                <input type="hidden" name="id" value="@ViewBag.id" />
                <input type="hidden" name="size" value="@ViewBag.size" />
                <input type="hidden" name="page" value="0" />
                <input type="hidden" name="sort" value="name" />
                <input type="hidden" name="direction" value="@(ViewBag.sort == "name" && ViewBag.direction=="asc" ? "desc" : "asc")" />
                <input type="submit" value="@Html.DisplayNameFor(x => x.ProductName)" class="btn btn-default" />
            </form>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@
            @*@Html.ActionLink(
                "UnitPrice",
                "Index", new
                     {
                         id = ViewBag.id,
                         sort = "price",
                         direction =
                (ViewBag.sort == "price" && ViewBag.direction == "asc") ? "desc" : "asc"
                })*@
            <form method="post" action="@Url.Action("Index", "Products")">
                <input type="hidden" name="id" value="@ViewBag.id" />
                <input type="hidden" name="size" value="@ViewBag.size" />
                <input type="hidden" name="page" value="0" />
                <input type="hidden" name="sort" value="price" />
                <input type="hidden" name="direction" value="@(ViewBag.sort == "price" && ViewBag.direction=="asc" ? "desc" : "asc")" />
                <input type="submit" value="@Html.DisplayNameFor(x => x.UnitPrice)" class="btn btn-default" />
            </form>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>

