﻿@model IEnumerable<TeineVeeb.Models.Inimene>

@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vanus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vanus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nr }) |
            @Html.ActionLink("Details", "Details", new {id = item.Nr }) |
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
        <!--see on HTMLi kommentaar-->
        @*see on razori kommentaar*@
    </tr>
}

</table>
