﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Veebivorm.aspx.cs" Inherits="EsimeneVeeb.Veebivorm" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Veebivorm</title>
</head>
<body>
    <h1>Oluline vorm</h1>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
            <br />
           
        </div>
    </form>
</body>
</html>
