﻿@model KolmasVeeb.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        
            <dt>
                @Html.DisplayName("Picture")
            </dt>
            <dd>
                <img src="@Url.Action("Picture", "Categories", new { id = Model.CategoryID })" height="240" />

            </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Selle kategooria tooted</h2>

@Html.Action("Index", "Products", new { id = Model.CategoryID })
